.coffee-card-item{

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
    
   
    background-color: #f9f9f9;
    margin: 1%;

    transition: box-shadow 0.5s;
}

.coffee-card-item:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

.coffee-card-item-body{
    height: 160px;
}

.coffee-card-item .heading{
    font-size: 18px;
}

.coffee-card-item .content{
    font-size: 14px;
    padding: 2%;
}

.coffee-card-item .price{
    font-size: 24px;
}

.coffee-card-image{
    height: 100px;
    width: 100px;
  
    margin: 20px 0 0 20px;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}



.btn:hover {
    background-color: #00754a !important;
    color: white !important;
    /* border-color: var(--bs-btn-hover-border-color); */
}

button.blue {
    background-color: #006241;
    color: white;
    width: 80px;
    height: 35px;
    font-size: 14px;
    margin-right: 20px;
  }



  @media (max-width: 1200px) {

    .coffee-card-image{
        height: 70px;
        width: 70px;
        margin-top: 30px;
        margin-left: 30px;
       
    }

}